html {
    line-height: 1.15;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    color: #fff;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    background-color: black;
}
/* main {
    display: block;
    padding: 30px 0;
} */
h1, h2, h3, h4, h5, h6,  a, input, div,  label {
    margin: 0;
}
h2 {
    font-size: 28px;
}
ul {
    list-style: none;
    padding-left: 0;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
/* p {
    font-size: 1em;
} */


.logo{
    height: 1.5rem;
    padding: 0.3rem;
}
img {
    border-style: none;
}
.container {
    /* width: 1200px;
    margin: 0 auto; */

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
   
}
.about-section{
    display: flex;
    flex-direction: column;
    

    
    /* font-family: 'Dancing Script', sans-serif; */
}

.about-section h1{
    font-size: 3rem;
    font-family: 'Dancing Script', sans-serif;
}

.info {
    padding: 2.5rem;
}

.more-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5rem;
}

.more-info >*{
    padding: 2rem;
    border: solid white 1px;
}

.activities{
    
}
.activities ul li{
    list-style: square;
}

.history-events {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.history-events >* {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.past-events{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 2.5rem; */
    overflow: scroll;
    width: 100%;
}

.event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: solid white 1px;
}
.event img{
    width: 12rem;
    border-radius: 50%;
}

header {
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    border-bottom: 1px solid white;
}
header img {
    vertical-align: middle;
}
header .logo {
    float: left;
    margin-right: 20px;
}
.title-header {
    float: left;
}
.title-header .title {
    display: inline-block;
    color: #fff;
    font-size: 26px;
    font-family: 'Dosis', serif;
    margin-top: 10px;
}
nav {
    font-size: 18px;
    text-align: center;
    float: right;
    margin-top: 5px;
}
nav li {
    display: inline-block;
}
nav li a {
    color: white;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
}
nav li a:hover {
    text-decoration: underline;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/chitkara.webp);
    background-size: cover;
    color: white;
  
    text-align: center;
    border-bottom: 1px solid white;
}
.hero h1 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 300;
    font-size: 8vw;
    padding-top: 20vw;
}
.hero h2 {
    font-family: 'Oleo Script', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    padding-top: 1vw;
}
.item-inner {
    margin-left: 10px;
}
.column {
    width: 30%;
    display: inline-block;
    margin-top: 20px;
}
.column:not(:last-child) {
    margin-right: 2%;
}
.hours {
    border: 1px solid darkgrey;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: white;
    text-transform: uppercase
}
.hours span {
    float: right;
    color: #ddd;
    text-transform: lowercase;
    font-weight: 500;
}
.hours li {
    border-bottom: 1px dotted #555;
}
.menu-item {
    margin-bottom: 30px;
}
.menu-item h2 {
    margin-bottom: 10px;
}
.menu-item:first-child {
    float: left;
    margin-left: 2.5%;
}
.menu-item:nth-child(2) {
    float: left;
    margin-right: 2.5%;
}
.menu-item li {
    padding-bottom: 3px;
    border-bottom: 1px dotted #555;
    margin-bottom: 5px;
}
.menu-item li span {
    float: right;
}
.menu-item .muted {
    color: #bbb;
}
/* .event-item {
    margin-bottom: 25px;
    border: 1px solid #000
} */
#coffeehouse {
    background-image: url("https://live.staticflickr.com/4547/38870108602_4d4a96ca01_b.jpg");
    background-size: cover;
    margin-left: 150px;
    width: 80%;
    height: 300px;

}
footer {
    color: #fff;
    padding: 10px;
    border-top: 1px solid white;
    text-align: center;
}
footer h2 {
    margin-bottom: 10px;
}
footer li {
    display: inline-block;
    margin: 5px 0;
}
footer a {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover, footer a:active {
    color: #fff;
    text-decoration: underline;
}
footer li {
    display: inline-block;
    width: 32%;
}
footer li:first-child {
    text-align: left;
}
footer li:nth-child(2) {
    text-align: center;
}
footer li:last-child {
    text-align: right;
}


.carousel-container {
    /* position: relative; */
    width: 80%;
    /* max-width: 600px; */
    overflow: hidden;
    align-items: flex-start;
    background-color: var(--gray-color);
    /* padding: 2rem; */
    background-color: #555;
}

.carousel-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 8rem;

    /* align-self: center; */
    /* justify-content: center; */

    
}
.oragniser-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.oragniser-container >*{
    padding: 2rem;
}



.slide {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    /* color: black; */
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    justify-content: space-around;
    width: 100%;
    /* min-width: 100%; */
}

.prev-button,
.next-button {
    position: absolute;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: bisque;
    color: #fff;
    border: none;
    outline: none;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.profile{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.profile h2{
font-size: medium;
}
.profile img{
    /* height: 2rem; */
    height: 13rem;
    border-radius: 50%;
}


.headings{
    padding-top: 4rem;
    }


    /* Responsive Parameters */
    @media screen and (max-width: 768px) {
        /* Add your responsive CSS here */
       
    }

    @media screen and (max-width: 480px) {
      nav{
        display: none;
      }
      .head-container{
        display: flex;
        flex-direction: row;

      }
      .logo{
        width: 20rem;
        height: auto;
      }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        padding: 0.5rem;
    }

    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        background-color: white;
    }

    .more-info{
        flex-direction: column;
        gap: 2rem;
    }

}